<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.onlineshoping.customer</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.onlineshoping.controllers.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.onlineshoping.controllers.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProduct</display-name>
    <servlet-name>ViewProduct</servlet-name>
    <servlet-class>com.onlineshoping.controllers.ViewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProduct</servlet-name>
    <url-pattern>/viewproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductInCart</display-name>
    <servlet-name>AddProductInCart</servlet-name>
    <servlet-class>com.onlineshoping.controllers.AddProductInCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductInCart</servlet-name>
    <url-pattern>/addproductincart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyCart</display-name>
    <servlet-name>MyCart</servlet-name>
    <servlet-class>com.onlineshoping.controllers.MyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCart</servlet-name>
    <url-pattern>/mycart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAllProductFromCart</display-name>
    <servlet-name>DeleteAllProductFromCart</servlet-name>
    <servlet-class>com.onlineshoping.controllers.DeleteAllProductFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllProductFromCart</servlet-name>
    <url-pattern>/deleteallproductfromcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductFromCart</display-name>
    <servlet-name>DeleteProductFromCart</servlet-name>
    <servlet-class>com.onlineshoping.controllers.DeleteProductFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductFromCart</servlet-name>
    <url-pattern>/deleteproductfromcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyProduct</display-name>
    <servlet-name>BuyProduct</servlet-name>
    <servlet-class>com.onlineshoping.controllers.BuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProduct</servlet-name>
    <url-pattern>/buyproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.onlineshoping.controllers.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>